@import './../../../../styles/colors.scss';
@import './../../../../styles/media.scss';

@mixin modelPadding {
	padding: 34.5px 0 22.5px 0;
	@include beforeDesktopMax() {
		padding: 28.5px 0 16.5px 0;
	}
	@include beforeTabletMax() {
		padding: 14px 0 8.5px 0;
	}
	@include beforeTablet() {
		padding: 10px 0 4.5px 0;
	}
	@include before450() {
		padding: 6px 0 0.5px 0;
	}
}

.car {
	height: 100%;
	&__container {
		display: flex;
		justify-content: space-between;
		height: 100%;
		position: relative;
		@include beforeTabletMax() {
			flex-direction: column;
		}
		& > div {
			background-color: $whiteColor;
			box-shadow: 0px 2px 4px rgba(90, 97, 105, 0.12);
		}
	}

	&__model {
		margin-right: 28px;
		display: flex;
		flex-direction: column;
		align-self: flex-start;
		position: relative;
		@include beforeTabletMax() {
			margin-right: 0;
			margin-bottom: 10px;
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
			height: 30%;
			& > div {
				width: 100%;
			}
		}
		@include before450() {
			flex-direction: column;
			justify-content: space-between
		}
	}

	&__model-img {
		box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.12);
	
		@include modelPadding();
		@include beforeTablet() {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			box-shadow: none;
		}
	}

	&__model-img-image {
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
		@include beforeTablet() {
			margin-bottom: 0px;
			justify-content: start;
		}
		@include before450() {
			justify-content: flex-start;
		}
		& img {
			width: 243px;
			@include beforeDesktopMax() {
				width: 200px;
			}
			@include beforeTabletMax() {
				width: 170px;
			}
			@include before450() {
				width: 120px;
			}
		}
	}

	&__model-img-name {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-bottom: 10.5px;
		@include beforeTabletMax() {
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
		@include beforeTablet() {
			margin-bottom: 0;
			flex-direction: column;
			align-items: flex-start;
		}
		@include before450() {
			align-items: center;
			margin-bottom: 10px;
		}
	}

	&__model-img-title {
		font-size: 24.5px;
		color: $defaultTextColor;
		margin-bottom: 4.5px;
		@include beforeDesktopMax() {
			font-size: 18.5px;
		}
		@include beforeTabletMax() {
			font-size: 14.5px;
			margin-bottom: 0px;
			margin-right: 10px;
		}
		@include beforeTablet() {
			margin-right: 0;
		}
	}

	&__model-img-type {
		font-size: 12.5px;
		color: #818ea3;
		letter-spacing: -0.3;
		@include beforeTabletMax() {
			font-size: 10.5px;
		}
	}

	&__model-img-file {
		&.settings {display: none;}
		@include beforeTablet() {
			width: 80%;
		}
		@include before450() {
			&.model {
				display: none;
			}
			&.settings {
				display: block;
				width: 100px;
			}
		}
		&-wrapper {
			& > input {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				width: 0;
			}
			& > label {
				width: 100%;
				cursor: pointer;
			}
		}
	}
	&__model-input-file-button {
		display: flex;
		justify-content: space-between;
		width: 100%;
		@include before450() {
			justify-content: center;
		}
	}
	&__model-input-file-item {
		border: 0.5px solid $orderItemBorderColor;
		width: 100%;
		font-size: 10px;
		padding: 8px 13px;
		text-align: center;
		color:#495057;
		@include beforeDesktopMax() {
			padding: 4px 7px;
		}
		@include beforeTabletMax() {
			padding: 4px 6px;
		}
		@include beforeTablet() {
			padding: 6px 4px;
			font-size: 8px;
		}
		&:first-child {
			text-align: left;
			border-right: none;
			border-radius: 4px 0px 0px 4px;
			@include before450() {
				display: none;
			}
		}
		&:last-child {
			border-left: none;
			background-color: #E9ECEF;
			width: 30%;
			border-radius: 0px 4px 4px 0px;
			@include before450() {
				border-radius: 4px;
				border-left: 0.5px solid $orderItemBorderColor;
				width: 100%;
			}
		}

	}

	&__model-filling {
		display: flex;
		flex-direction: column;
		@include modelPadding();
		padding: 14px 0 16px 0;
		@include before450() {
			display: none;
		}
	}

	&__model-filling-title {
		display: flex;
		justify-content: space-between;
		font-size: 13px;
		margin-bottom: 10px;
		@include beforeTabletMax() {
			font-size: 11px;
		}
		&-text {
			color: #868E96;
		}
		&-procent {
			color: #5A6169;
		}
	}

	&__model-filling-content {
		&-wrapper {
			box-shadow: inset 0px 0.5px 4px rgba(0, 0, 0, 0.25);
			border-radius: 4px;
		}
		&-progress {
			padding: 2px;
			background-color: $loginFooterColor;
			border-radius: 9px;
			width: 75%;
		}
	}

	&__model-description {
		display: flex;
		flex-direction: column;
		box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.12);
		padding: 22.5px 0 45px 0;
		@include beforeDesktopMax() {
			padding: 18px 0 25px 0;
		}
		@include beforeTabletMax() {
			padding: 14.5px 0 0 0;
		}
		@include beforeTablet() {
			position: absolute;
			bottom: 5px;
			box-shadow: none;
			align-items: flex-end;
		}
		@include before450() {
			position: static;
			justify-content: flex-start;
			padding: 0;
			flex-grow: 1;
		}
	}

	&__model-description-title {
		font-weight: 500;
		font-size: 13px;
		color: #868E96;
		margin-bottom: 13.5px;
		@include beforeTabletMax() {
			font-size: 11px;
			margin-bottom: 9.5px;
		}
		@include beforeTablet() {
			padding-right: 10px;
		}
		@include before450() {
			display: none;
		}
	}

	&__model-description-text {
		color: #5A6169;
		font-size: 13.5px;
		max-width: fit-content;
		position: relative;
		@include beforeTabletMax() {
			font-size: 11.5px;
		}
		@include beforeTablet() {
			width: 200px;
			max-width: none;
			overflow: auto;
			height: 80px;
		}
		@include before450() {
			height: 100%;
			width: 100%;
		}
		& p {
  			word-break: break-all;
			line-height: 19px;
			letter-spacing: -0.4px;
			text-align: left;
			@include beforeTabletMax() {
				line-height: 14px;
			}
			@include beforeTablet() {
				padding: 0 10px;
				text-align: justify;
			}
			@include before450() {

			}
		}
	}
	&__model-description-container {
		@include beforeTablet() {
			position: absolute;
		}
	}
	&__settings {
		flex-grow: 1;
		& form {
			height: 100%;
		}
	}

	&__settings-container {
		height: 100%;
		padding: 19.5px 18px;
		display: flex;
		flex-direction: column;
		@include before450() {
			padding: 10px 12px;
		}
	}

	&__settings-title {
		font-weight: 500;
		font-size: 17.5px;
		letter-spacing: -0.4px;
		color: $defaultTextColor;
		margin-bottom: 42px;
		@include beforeDesktopMax() {
			font-size: 14px;
			margin-bottom: 25px;
		}
		@include beforeTabletMax() {
			font-size: 14px;
			margin-bottom: 12px;
		}
	}

	&__settings-form {
		flex-grow: 1;

		&__content {
			display: flex;
			flex-direction: column;
		}
		&-item {
			margin-bottom: 31px;
			position: relative;
			overflow: auto;
			&.colors {
				height: 100px;
			}
			@include beforeTabletMax() {
				margin-bottom: 15px;
			}
			&-container {
				display: flex;
				justify-content: space-between;
				@include before450() {
					flex-direction: column;
				}
			}
			&-field {
				width: 30%;
				
				@include beforeTabletMax() {
					margin-right: 0;
					&:first-child {
						margin-bottom: 10px;
					}
				}
				@include before450() {
					width: 50%;
					margin-bottom: 0;
				}
				&-title {
					font-size: 10.5px;
					letter-spacing: -0.1px;	
					margin-bottom: 4.5px;		
				}
				&-input {
					display: flex;
					justify-content: space-between;
					&-plus {
						padding: 7px;
						border: 1px solid #BECAD6;
						border-radius: 4px;
						@include beforeDesktopMax() {
							padding: 5px;
						}
						@include before450() {
							padding: 3px;
						}
						&:hover {
							opacity: 0.6;
							cursor: pointer;
						}
					}
					& input {			
						padding: 8px 11px;
						border: 1px solid $orderItemBorderColor;
						border-radius: 4px;
						font-size: 11px;
						width: 100%;
						@include beforeDesktopMax() {
							padding: 6px 9px;
				
						}
						@include before450() {	
							padding: 4px 7px;
						}
						&.input-color {
							width: 90%;
							@include beforeDesktopMax() {
								margin-right: 5px;
							}
						}
					}
					& img {
						width: 16px;
						@include beforeDesktopMax() {
							width: 12px;
						}
						@include before450() {
							width: 10px;
							margin: auto;
						}
					}
				}
			}
			&-color-container {
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 100%;
			}
		}
	}

	&__settings-footer {
		&-container {
			display: flex;
			justify-content: space-between;
			
		}
		&-item {
			&:first-child {
				@include beforeTablet() {
					display: flex;
					flex-direction: column;
				}
			}
			&:last-child {
				align-self: center;
			}
			&:first-child a:first-child {
				margin-right: 12px;
				@include beforeTablet() {
					margin-right: 0;
					margin-bottom: 10px;
				}
			}
			
			& a, & button {
				padding: 7.5px 25px;
				border-radius: 4px;
				font-size: 11.5px;
				color: $whiteColor;
				@include beforeTablet() {
					padding: 7.5px 15px;
					text-align: center;
					width: 100px;
				}
				@include before450() {
					font-size: 10px;
					padding: 7.5px 10px;
					width: 100%;
				}
				&:hover {
					opacity: 0.7;
				}
				&.save-button {
					background-color: $loginFooterColor;
					margin-right: 12px;
					@include before450() {
						margin-bottom: 3px;
					}
				}
				&.cancel-button {
					background-color: #E9ECEF;
					color: $defaultTextColor;
				}
				&.remove-button {
					background-color: #CB3656;
				}
			}
		}
	}
}
.model-container {
	padding-left: 22.5px;
	padding-right: 22.5px;
	@include beforeTabletMax() {
		padding-left: 12.5px;
		padding-right: 12.5px;
	}
	@include beforeTablet() {
		padding-left: 8.5;
		padding-right: 8.5;
	}
	@include before450() {
		padding-right: 4px;
		padding-left: 4px;
	}
}
