@import './../../../../styles/colors.scss';
@import './../../../../styles/media.scss';

.car {
	height: 100%;
	&__container {
		height: 100%;
		display: flex;
		& > div {
			background-color: $whiteColor;
			box-shadow: 0px 2px 4px rgba(90, 97, 105, 0.12);
			border-radius: 9px;
		}
		@include before450() {
			flex-direction: column;
		}
	}
}

.car-model {
	margin-right: 28px;
	display: flex;
	align-self: flex-start;
	@include beforeTablet() {
		margin-right: 18px;
	}
	@include before450() {
		margin-right: 0;
		width: 100%;
		margin-bottom: 6px;
	}
	&__container {
		padding: 34.5px 0 45px 0;
		@include beforeDesktopMax() {
			padding: 20.5px 0 30px 0;
		}
		@include beforeTabletMax() {
			padding: 16.5px 0 26px 0;
		}
		@include beforeTablet() {
			padding: 14.5px 0 22px 0;
		}
		@include before450() {
			padding: 6.5px 0 0 0;
			display: flex;
			position: relative;
			width: 100%;
			justify-content: space-between;
			& > div {
				width: 100%;
			}
		}
	}
	&__img-content {
		margin-bottom: 10px;
		@include beforeDesktopMax() {
			margin-bottom: 6px;
		}
		@include before450() {
			margin-bottom: 0;
		}
		&-img {
			display: flex;
			justify-content: center;
			& img {
				width: 240px;
				@include beforeDesktopMax() {
					width: 200px;
				}
				@include beforeTabletMax() {
					width: 180px;
				}
				@include beforeTablet() {
					width: 150px;
				}
				@include before450() {
					width: 100px;
				}
			}
		}
	}
	&__name-content {
		margin-bottom: 10.5px;
		@include beforeTablet() {
			margin-bottom: 7px;
		}
		@include before450() {
			position: absolute;
			bottom: 4px;
			margin-bottom: 0;
		}
		&-container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&-title {
			font-size: 24.5px;
			color: $defaultTextColor;
			letter-spacing: -0.6px;
			margin-bottom: 4.5px;
			@include beforeDesktopMax() {
				font-size: 20px;
				margin-bottom: 2.5px;
			}
			@include beforeTablet() {
				font-size: 14px;
			}
		}
		&-type {
			font-size: 12.5px;
			letter-spacing: -0.3px;
			color:#818EA3;
			@include beforeDesktopMax() {
				font-size: 9px;
			}
		}
	}
	&__file-content {
		margin-bottom: 22.5px;
		@include beforeDesktopMax() {
			margin-bottom: 18px;
		}
		@include beforeTablet() {
			margin-bottom: 14px;
		}
		@include before450() {
			display: none;
		}
		&-wrapper {
			& input {
				visibility: hidden;
				opacity: 0;
				position: absolute;
				width: 0;
			}
			& label {
				width: 100%;
				cursor: pointer;
			}
		}
		&-button {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
		&-item {
			border: 0.5px solid $orderItemBorderColor;
			width: 100%;
			font-size: 10px;
			padding: 8px 13px;
			text-align: center;
			color: #495057;
			@include beforeDesktopMax() {
				padding: 5px 10px;
			}
	
			&:first-child {
				text-align: left;
				border-right: none;
				border-radius: 4px 0 0 4px;
			}
			&:last-child {
				background-color: #e9ecef;
				width: 30%;
				border-radius: 0px 4px 4px 0px;
			}
		}
	}
	&__filling-content {
		margin-bottom: 22.5px;
		@include beforeDesktopMax() {
			margin-bottom: 16px;
		}
		@include beforeTablet() {
			margin-bottom: 12px;
		}
		@include before450() {
			margin-bottom: 0;
			flex-grow: 1;
			display: none;
		}
		&-container {
			box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.12),
			            0px 1px 0px rgba(0, 0, 0, 0.12);
			display: flex;
			flex-direction: column;
			padding: 14px 22.5px 16px 22.5px;
			@include beforeDesktopMax() {
				padding: 10px 18.5px 12px 18.5px;
			}
			@include beforeTablet() {
				padding: 8px 14px 10px 14px;
			}
			@include before450() {
				box-shadow: none;
			}
		}
		&-header {
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;
			@include beforeTablet() {
				margin-bottom: 6px;
				justify-content: center;
			}
			&-title {
				font-size: 13px;
				letter-spacing: -0.4px;
				color: #868E96;
				@include beforeTablet() {
					display: none;
				}
			}
			&-procent {
				font-size: 11px;
				color: #5A6169;
				letter-spacing: -0.3px;
			}
		}
		&-element {
			&-wrapper {
				box-shadow: inset 0px 0.5px 4px rgba(0, 0, 0, 0.25);
				border-radius: 4px;
			}
			&-progress {
				padding: 2px;
				background-color: $loginFooterColor;
				border-radius: 9px;
				width: 25%;
			}
		}
	}
	&__description-content {
		&-container {
			display: flex;
			flex-direction: column;
		}
		&-title {
			font-weight: 500;
			font-size: 13px;
			color: #868E96;
			margin-bottom: 13.5px;
			@include beforeDesktopMax() {
				font-size: 11px;
				margin-bottom: 10px;
			}
			@include before450() {
				margin-bottom: 4px;
			}
		}
		&-text {
			color: #5A6169;
			font-size: 13.5px;
			line-height: 19.5px;
			letter-spacing: -0.4px;
			position: relative;
			overflow: auto;
			height: 100px;
			@include beforeDesktopMax() {
				font-size: 11.5px;
				line-height: 15px;
			}
			@include before450() {
				height: 85px;
			}
			&-container {
				position: absolute;
			}
		}
	}
	.padding-container {
		padding: 0 22.5px;
		@include beforeDesktopMax() {
			padding: 0 18.5px;
		}
		@include beforeTabletMax() {
			padding: 0 14.5px;
		}
		@include beforeTablet() {
			padding: 0 10.5px;
		}
		@include before450() {
			padding: 0 4.5px;
		}
	}
}

.car-settings {
	flex-grow: 1;
	& form {
		height: 100%;
	}
	&__container {
		padding: 19.5px 18px;
		display: flex;
		flex-direction: column;
		height: 100%;
		@include beforeDesktopMax() {
			padding: 14.6px 13px;
		}
		@include beforeTablet() {
			padding: 10px 9px;
		}
	}
	&__title {
		font-weight: 500;
		font-size: 17.5px;
		letter-spacing: -0.44;
		color: $defaultTextColor;
		margin-bottom: 42px;
		@include beforeDesktopMax() {
			font-size: 14px;
			margin-bottom: 32px;
		}
		@include beforeTablet() {
			margin-bottom: 25px;
			letter-spacing: -0.7px;
		}
		@include before450() {
			margin-bottom: 5px;
			text-align: center;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		&-container {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
		}
		&-footer {
			&-container {
				display: flex;
				justify-content: space-between;
			}
			&-item { 
				display: flex;
				@include beforeTablet() {
					flex-direction: column;
					justify-content: center;
				}
				&-element {
					& button {
						padding: 7.5px 25px;
						border-radius: 4px;
						font-size: 11.5px;
						color: $whiteColor;
						@include beforeTabletMax() {
							padding: 5.5px 18px;
						}
						@include beforeTablet() {
							width: 100%;
							padding: 5.5px 10px;
						}
						@include before450() {
							padding: 4px 8px;
							font-size: 9px;
						}
						&:hover {
							opacity: 0.7;
						}
						&.save-button {
							background-color: $loginFooterColor;
							margin-right: 12px;
							@include beforeTabletMax() {
								margin-right: 8px;
							}
							@include beforeTablet() {
								margin-right: 0;
								margin-bottom: 5px;
							}
						}
						&.cancel-button {
							background-color: #E9ECEF;
							color: $defaultTextColor;
						}
						&.delete-button {
							background-color: #CB3656;
						}
					}
				}
			}
		}
		&-item {
			&:not(:last-child) {
				margin-bottom: 30.6px;
				@include beforeDesktopMax() {
					margin-bottom: 20.6px;
				}
				@include beforeTabletMax() {
					margin-bottom: 0;
				}
			}
			&-container {
				display: flex;
				justify-content: space-between;
				@include beforeTabletMax() {
					flex-direction: column;
				}
			}
		}
		&-field {
			display: flex;
			flex-direction: column;
			width: 30%;
			&.color-checkbox-list {
				position: relative;
				height: 100px;
				overflow: auto;
				& .color-checkbox-list__container {
					position: absolute;
					width: 100%;
					height: 100%;
				}
			}
			@include beforeTabletMax() {
				width: 50%;
				margin-bottom: 10px;
			}
			@include beforeTablet() {
				margin-bottom: 7px;
			}
			@include before450() {
				margin-bottom: 4px;
			}
			&-title {
				font-size: 10.5px;
				margin-bottom: 8px;
			}
			&-element {
				display: flex;
				justify-content: space-between;
				& input {
					padding: 8px 11px;
					border: 1px solid $orderItemBorderColor;
					border-radius: 4px;
					font-size: 11px;
					width: 100%;
					@include beforeTablet() {
						padding: 4px 6px;
						font-size: 10px;
					}
					&.color-input {
						width: 90%;
					}
				}
				&-plus {
					display: flex;
					align-items: center;
					padding: 7px;
					border: 1px solid $orderItemBorderColor;
					border-radius: 4px;
					@include beforeDesktopMax() {
						padding: 5px;
					}
					@include beforeTablet() {
						padding: 3px
					}
					&:hover {
						opacity: 0.6;
						cursor: pointer;
					}
					& img {
						width: 16px;
						@include beforeDesktopMax() {
							width: 12px;
						}
					}
				}
			}
		}
	}
}