$defaultTextColor: #3d5170;
$loginFooterColor: #007bff;
$whiteColor: #fff;
$defaultGreenColor: #0EC261;
$sidebarItemBorderColor: #e1e5eb;
$sidebarWhiteShadow: #fbfbfb;
$searchInputColor: #767F9D;
$noticeBorderColor: #CACEDB;
