@import './colors.scss';

.custom-checkbox {
	position: absolute;
	opacity: 0;
}
.custom-checkbox+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
	color: $orderItemGreyColor;
 }
 .custom-checkbox+label::before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #adb5bd;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
 }
 .custom-checkbox:checked+label::before {
	border: 1px solid $defaultGreenColor;
	background-image: url('./../commons/images/main/orders/check-mark.svg');
	background-size: contain;
	background-position: center;
 }
.custom-checkbox:checked + label {
	color: black;
}