$mobileMin: 320px;
$mobileMax: 767px;
$tabletMin: 768px;
$tabletMax: 1023px;
$desktopMin: 1024px;
$desktopMax: 1439px;
$desktop: 1400px;

@mixin moblie {
	@media(min-width: $mobileMin) and (max-width: $mobileMax) {
		@content;
	}
}
@mixin tablet {
	@media(min-width: $tabletMin) and (max-width: $tabletMax) {
		@content;
	}
}
@mixin desktopMin {
	@media(min-width: $desktopMin) and (max-width: $desktopMax) {
		@content;
	}
}
@mixin desktop {
	@media(min-width: $desktop) {@content;}
}
@mixin beforeDesktopMax {
	@media(max-width: $desktopMax) {@content;}
}
@mixin beforeTablet {
	@media(max-width: $tabletMin) {@content;}
}
@mixin beforeTabletMax {
	@media(max-width: $tabletMax) {@content;}
}
