@import './../../styles/colors.scss';

.custom-settings {
	padding: 15px 21.5px 14px 21.5px;
	display: flex;
	justify-content: space-between;
	&__item {
		&:not(:last-child) {
			margin-right: 15px;
		}
		& > select {
			padding: 8px 14px;
			border: 0.5px solid $orderItemBorderColor;
			border-radius: 4px;
			color: #868e96;
			font-size: 11px;
		}
	}
	&__container {
		display: flex;
		justify-content: space-between;
	}
}
