@import './styles/reset.scss';
@import './styles/colors.scss';

.wrapper {
	min-width: 100%;
	height: 100%;
	position: absolute;
	background-color: #e5e5e5;
	font-family: Helvetica, Arial, sans-serif;
}
.content-page {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}
